*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #8bc34a;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.form-btn {
    width: auto;
    min-width: auto;
    margin-top: 1em;
    margin-left: auto;
    border: none;
    font-size: 2rem;
    letter-spacing: 0.15em;
    padding: 0.5em 1.5em;
}

.about-me__btn {
    margin-top: 1em;
    margin-left: 20%;
}

.works__btn {
    margin-top: 2em;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: 0.25em 1em;
}

.section__subtitle--works {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 200px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%); /* off the screen */
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* Intro */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        grid-column-gap: 1em;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em); /* for stretching all over the section */
    }
}

/* My skills */

.my-skills {
    background-color: var(--clr-dark);
    background-image: url("../img/skills-bg.png");
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--skills {
    color: var(--clr-accent);
    position: relative;
}

.section__title--skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.skills {
    margin-bottom: 4em;
}

.skill {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .skills {
        display: flex;
        max-width: 1000px;
        margin-left: auto; /* to keep in center*/
        margin-right: auto;
    }

    /*for spacing between*/
    .skill + .skill {
        margin-left: 2em;
    }
}

/* About me */

.about-me {
    max-width: 1000px;
    margin: 0 auto; /* to keep in center*/
}

.about-me__img {
    box-shadow: var(--bs);
}


@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 300px; /* depends on image*/
        grid-template-areas:
                "title img"
                "subtitle img"
                "text img"
                "button img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1/-1; /* from first till the last column */
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em); /* to stretch on both sides */
        padding-left: 1em;
        padding-right: calc(200px + 4em); /* for text not to touch image */
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }

    .about-me__btn {
        width: 33%;
        grid-area: button;
        margin-left: 0;
    }
}

/* My works */

.my-works {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}

/* Contact me */

.contact {
    width: 90%;
    margin: 0 auto;
    max-width: 50em;
    padding: 5em 0;
}

.contact h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

@supports (display: grid) {
    @media (min-width: 50em) {
        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1em;
            grid-template-areas:
                    "name      email"
                    "message  message"
                    "   .      button";
        }

        form .name {
            grid-area: name;
        }

        form .email {
            grid-area: email;
        }

        form .message {
            grid-area: message;
        }

        form .message textarea {
            height: 10em;
        }

        form .btn {
            grid-area: button;
        }
    }
}

label {
    display: block;
    margin-top: 1em;
    color: #606060;
}

input,
textarea {
    box-sizing: border-box;
    display: block;
    padding: .75em;
    width: 100%;
    min-width: 15em;
    background: #fbfbfc;
    border: 1px solid #e8e9eb;
    font-size: 1.2rem;
}

/* Footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.copyright::before {
    content: '';
    display: block;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin: 1em auto;
    width: 25%;
}

/* Individual portfolio items style */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item__img {
    height: 10em;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .portfolio-item__img {
        height: 400px;
    }
}

.portfolio-item__link {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    text-decoration: none;
}

.portfolio-item__link::after {
    content: "\2192";
    display: inline-block;
    color: var(--clr-accent);
}

.portfolio-item__link:hover {
    text-decoration: underline;
}

/* Skills page style */

.skills-section {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.skills-section p {
    margin-right: auto;
    margin-left: auto;
}

.programming_countdown {
    text-align: center;
}

.programming_countdown p {
    font-weight: var(--fw-bold);
}

#DateCountdown {
    width: 50%;
    margin: 1em auto;
}

@media (min-width: 600px) {
    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.progress-bar {
    border-radius: 0.2em;
    overflow: hidden;
    width: 20em;
    margin-bottom: 1em;
}

.progress-bar span {
    display: block;
}

.bar {
    background: rgba(0, 0, 0, 0.1);
}

.progress {
    width: 0;
    display: block;
    background: var(--clr-accent);
    color: var(--clr-light);
    padding: 0.2em;
}

.skills__value {
    position: absolute;
    transform: translate3d(0, 1em, 0);
}

.skills__name p {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}

.section__subtitle--skills {
    font-weight: var(--fw-bold);
    margin-top: 1em;
}

.counters-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.counter__amount {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    margin-bottom: 0;
    margin-top: 0;
}

.counter__title {
    margin-top: 0;
}

.counter img {
    height: 4em;
    margin: 1em auto;
}

/* About me page style */

.about-me-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.about-me-individual p {
    max-width: 600px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .projects-list-container {
        margin: 0 25%;
    }

    .bio-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1em;
    }
}

.holder {
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
}

.holder p {
    font-size: var(--fs-h3);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    text-align: left;
    text-transform: uppercase;
}

.dot {
    background: var(--clr-accent);
    border-radius: 4em;
    height: 4em;
    overflow: hidden;
    width: 4em;
    margin: 1em 1em 1em auto;
}

.projects-list {
    list-style: none;
    counter-reset: my-counter;
}

.projects-list li {
    counter-increment: my-counter;
    margin: 0.25rem;
}

.projects-list li::before {
    content: counter(my-counter);
    background: var(--clr-accent);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: var(--clr-light);
    text-align: center;
    margin-right: 0.5rem;
}

.projects-list .projects-list li::before {
    opacity: 0.6;
}

.projects-list .projects-list .projects-list li::before {
    opacity: 0.4;
}

.projects-list__link {
    color: var(--clr-accent);
    text-decoration: none;
}

.projects-list__link:hover {
    text-decoration: underline;
}

.section__subtitle--about-me {
    font-weight: var(--fw-bold);
    margin-top: 1em !important;
    text-align: center;
}

.bio-container {
    text-align: center;
}
/* Tools page style */

.tools-section {
    text-align: center;
}

.section__subtitle--tools {
    font-weight: var(--fw-bold);
}

.tools__img {
    margin: 1em auto;
    width: 5em;
}

.tools__img-gray {
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -moz-filter: grayscale(100%); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%); /*IE 6-9*/

    transition: all 250ms ease;
}

.tools__img-gray:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

@media (min-width: 400px) {
    .active-tools-container,
    .future-tools-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 1em auto;
        justify-content: center;
    }
}